aiohttp==3.8.3
apex==0.9.10dev
beautifulsoup4==4.11.1
bfloat16
comtypes==1.1.14
coqui_tts==0.24.1
cupy==13.3.0
einops==0.8.0
flash_attn==2.3.2
fvcore==0.1.5.post20221221
hydra-core==1.3.2
lightning_lite==1.8.6
matplotlib==3.8.4
networkx==2.8.8
numpy==1.24.4
ollama==0.3.3
omegaconf==2.2.3
packaging==24.2
Pillow==11.0.0
psutil==5.9.1
pyaudio==0.2.14
PyAutoGUI==0.9.53
pycaw==20240210
pydot==3.0.2
pydub==0.25.1
pynvml==11.5.3
pytest==7.1.3
python-dotenv==1.0.1
pytorch_lightning==1.9.4
Requests==2.32.3
rich==13.9.4
rmm==0.0.1
safetensors==0.4.5
scikit_learn==1.5.2
scipy==1.14.1
seaborn==0.11.2
sentencepiece==0.1.99
setuptools==68.2.2
simpleaudio==1.0.4
sounddevice==0.5.1
soundfile==0.12.1
timm==0.6.12
torchmetrics==0.11.4
transformers==4.34.1
TTS==0.22.0
wandb==0.15.12
wheel==0.45.0
whisper==1.1.10
xformers==0.0.28.post3
