beautifulsoup4==4.11.1
comtypes==1.1.14
coqui_tts==0.24.1
Pillow==10.4.0
pyaudio==0.2.14
PyAutoGUI==0.9.53
pycaw==20240210
pydub==0.25.1
Requests==2.32.3
simpleaudio==1.0.4
soundfile==0.12.1
transformers==4.38.0
whisper==1.1.10
