beautifulsoup4==4.11.1
coqui_tts
librosa==0.10.2.post1
noisereduce==3.0.2
Pillow==10.4.0
pyaudio==0.2.14
PyAutoGUI==0.9.53
Requests==2.32.3
simpleaudio==1.0.4
soundfile==0.12.1
transformers==4.34.1
whisper
